<!DOCTYPE html>
<html>
  <head>
    <title> Extension </title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <style>
      .hide {
        display: none!important;
      }
    </style>
  </head>

  <body>
 
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    
    <script src="javascripts/tableau.extensions.1.latest.min.js"></script>

    <!-- Our extension's code -->
    <script src="./javascripts/config.js"></script>
  </body>
</html>