<!DOCTYPE html>
<html>
  <head>
    <title> Extension </title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <style>
      .hide {
        display: none!important;
      }
    </style>
  </head> 

  <body>
 
    <div class="container" id="main-container">
        <div id="select-worksheet-div" class="select-container">
 
        </div>
        <div id="select-table-name-div" class="select-container">
 
        </div>
        <div id="map-columns-name-div" class="select-container">
            <div class="tab-columns-div" style="display: inline-block;  width: 100px;">
-----
            </div>
            <div class="ds-columns-div" style="display: inline-block; width: 100px;">
-----
            </div>
        </div>
    </div>
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <!-- Compiled and minified JavaScript -->
    
    
    <script src="javascripts/tableau.extensions.1.latest.min.js"></script>

    <!-- Our extension's code -->
    <script src="./javascripts/config.js"></script>
  </body>
</html>